<h1>Welcome <%=@user.name%></h1>

<%@user_games.each do |user_game|%>
<h4><a href="/games/<%=user_game.game.slug%>"><%=user_game.game.name%></a>:
  <a href="/user_games/<%=user_game.id%>">
  <%if user_game.status%>
  <%=user_game.status%>
  <%else%>
  Not Started
  <%end%></a></h4>
<%end%>
