<% if current_user == @user %>
<h1>Welcome <%=@user.name%></h1>
<a href="/users/<%=@user.slug%>/edit">Edit Profile Info and Games List</a>
<% else %>
<h1><%=@user.name%> - <%=@user.username%></h1>
<% end %>
<br>
<br><br>


<%@user_games.each do |user_game|%>
<h4><a href="/games/<%=user_game.game.slug%>"><%=user_game.game.name%></a>:
<% if user_game.status %>
<%= user_game.status %>
<% else %>
Not Started
<% end %>
<% if current_user == @user %>
<a href="/user_games/<%=user_game.id%>">Change Status</a></h4>
<% end %>
<%end%>
<br><br>
<h4>Need a New Game? <a href="/games">Browse the List</a></h4>
<br><br>


<a href="/users">User Index</a><br>
<% if current_user == @user %>
<a href="/logout">Log Out</a>
<br>
<form method="post" action="/users/<%= @user.slug %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete User">
</form>

<% else %>
<a href="/users/<%=current_user.slug%>">Return to Home page</a>
<% end %>
